/* Structure */
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

th,
td {
    padding: 5px 100px;
}

table th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
}